* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    font-family:  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}

body{
    font-size: 1.6rem;
    background-image: linear-gradient(to right,rgb(255, 44, 167),rgb(245, 28, 111));
}

.container{
    margin: 5rem auto;
    max-width: 50rem;
    min-width: 40rem;
    border-radius: 1rem;
    background-color: rgb(241, 233, 233);
}

.calc-body{
    padding: 2rem;
    font-size: inherit;   
}

#display{
    min-width: 37rem;
    min-height: 10rem;
    line-height: 1.7;
    border: .3rem solid rgba(245, 28, 111,0.815);
    border-radius: .5rem;
    box-shadow: 0rem 1rem 3rem rgba(253, 159, 190, 0.8);
    padding: .7rem;
    position: relative;
}

p{
    text-align: right;
}

.history{
    font-size: 3rem;

    color: rgb(71, 71, 71);

}

.output{
    font-size: 6rem;
    position: absolute;
    top: 4rem;
    right: 1rem;
    color: rgb(68, 68, 68);
}



#bottons{
    margin-top: 2rem;
    display: grid;
    padding: 1rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.button{
    font-size: 1.6rem;
    padding: 1.5rem;
    border: 0 solid;
    border-radius: 100px;
    min-width: 6rem;
    box-shadow: 0rem 1rem 1rem rgba(253, 159, 190, 0.8);
}

.button:active{
    transform: translateY(.3rem);
    box-shadow: 0rem 1rem 1rem rgba(255, 122, 166, 0.9);
}

.zero{
    grid-column: 2/3;
}

.equal{
    grid-column: 4/5;
}

.operator{
    background-color: #fd82bb;
}
