body{
    background-color: blanchedalmond;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;
}
.first{
    font-size: 5rem;
    color:white;
    background-color: cyan;
    display:inline-block;
    padding: 0px 20px;
    text-shadow: 5px 5px 3px rgb(05,05,05,0.8);
    transition: 0.4s;
    cursor:pointer;
}

.second,ul{
    font-size: 1.2em;
}
#btn{
    font-size: 1.2em;
    background-color:  rgb(20,20,20,0.8);
    border-radius: 10%;
    color: white;
    cursor: pointer;
    border:5px solid white;
    padding:5px 20px;
}
input{
    font-size: 1.2em;
    border-radius: 5%;
    border:5px solid white;
    padding:5px 20px;
    margin: 20px 5px;

}
@media (max-width:420px){
    .first{
        font-size: 3em;
    }
    input{
        padding: 0;
    }
    #btn{
        border: 3px solid white;
        padding: 2px 10px;
    }
    .second,ul{
        font-size:1em;
    }
}